import * as S from './styles'
import Container from '@/patterns/Container'

const {{pascalCase name}} = () => (
  <S.Wrapper>
    <Container>
      <h1>{{pascalCase name}}</h1>
    </Container>
  </S.Wrapper>
)

export default {{pascalCase name}}
